In [2]:
A = [1 2; 3 4; 5 6]
B = [11 12; 13 14; 15 16]
C = [1 1; 2 2]
v = [1;2;3]

A =

   1   2
   3   4
   5   6

B =

   11   12
   13   14
   15   16

C =

   1   1
   2   2

v =

   1
   2
   3

In [3]:
A * C

ans =

    5    5
   11   11
   17   17

In [5]:
A .* C

error: product: nonconformant arguments (op1 is 3x2, op2 is 2x2)

In [6]:
A * B

error: operator *: nonconformant arguments (op1 is 3x2, op2 is 3x2)

In [7]:
A .* B

ans =

   11   24
   39   56
   75   96

In [8]:
A .^ 2

ans =

    1    4
    9   16
   25   36

In [9]:
1 ./ v

ans =

   1.00000
   0.50000
   0.33333

In [10]:
1 / v

ans =

   0.071429   0.142857   0.214286

In [11]:
log(v)

ans =

   0.00000
   0.69315
   1.09861

In [12]:
exp(v)

ans =

    2.7183
    7.3891
   20.0855

In [13]:
abs(v)

ans =

   1
   2
   3

In [14]:
-v

ans =

  -1
  -2
  -3

In [15]:
v + ones(length(v), 1)

ans =

   2
   3
   4

In [16]:
v + 1

ans =

   2
   3
   4

In [17]:
A'

ans =

   1   3   5
   2   4   6

In [18]:
a = [1 15 2 0.5]

a =

    1.00000   15.00000    2.00000    0.50000

In [19]:
val = max(a)

val =  15

In [20]:
[val, ind] = max(a)

val =  15
ind =  2

In [21]:
[val,ind] = min(a)

val =  0.50000
ind =  4

In [22]:
val = max(A)

val =

   5   6

In [23]:
A = [1 6; 5 3; 2 4]

A =

   1   6
   5   3
   2   4

In [24]:
max(A)

ans =

   5   6

In [25]:
a

a =

    1.00000   15.00000    2.00000    0.50000

In [26]:
a < 3

ans =

  1  0  1  1

In [27]:
find(a < 3)

ans =

   1   3   4

In [28]:
A = magic(3)

A =

   8   1   6
   3   5   7
   4   9   2

In [29]:
A = magic(4)

A =

   16    2    3   13
    5   11   10    8
    9    7    6   12
    4   14   15    1

In [30]:
A = magic(5)

A =

   17   24    1    8   15
   23    5    7   14   16
    4    6   13   20   22
   10   12   19   21    3
   11   18   25    2    9

In [35]:
A = magic(2)

A =

   4   3
   1   2

In [36]:
A = magic(1)

A =  1

In [37]:
A = magic(3)

A =

   8   1   6
   3   5   7
   4   9   2

In [38]:
[r, c] = find(A >= 7)

r =

   1
   3
   2

c =

   1
   2
   3

In [39]:
a

a =

    1.00000   15.00000    2.00000    0.50000

In [40]:
sum(a)

ans =  18.500

In [41]:
prod(a)

ans =  15

In [42]:
floor(a)

ans =

    1   15    2    0

In [43]:
max(rand(3),rand(3))

ans =

   0.71032   0.39048   0.59145
   0.65795   0.82876   0.61047
   0.69241   0.90264   0.86288

In [44]:
max(A, [], 1)

ans =

   8   9   7

In [45]:
max(A, 1)

ans =

   8   1   6
   3   5   7
   4   9   2

In [46]:
max(A, [], 2)

ans =

   8
   7
   9

In [47]:
A = magic(9)

A =

   47   58   69   80    1   12   23   34   45
   57   68   79    9   11   22   33   44   46
   67   78    8   10   21   32   43   54   56
   77    7   18   20   31   42   53   55   66
    6   17   19   30   41   52   63   65   76
   16   27   29   40   51   62   64   75    5
   26   28   39   50   61   72   74    4   15
   36   38   49   60   71   73    3   14   25
   37   48   59   70   81    2   13   24   35

In [48]:
sum(A, 1)

ans =

   369   369   369   369   369   369   369   369   369

In [49]:
sum(A, 2)

ans =

   369
   369
   369
   369
   369
   369
   369
   369
   369

In [50]:
sum(sum(A .* eye(9)))

ans =  369

In [51]:
sum(sum(A .* flipud(eye(9))))

ans =  369

In [52]:
pinv(A)

ans =

 Columns 1 through 6:

   0.00045353  -0.00122305   0.00167286   0.01264682  -0.01206152   0.00031805
   0.00030111   0.00030111   0.01280111  -0.01219889   0.00030111  -0.00108777
  -0.00107063   0.01401856  -0.01204459   0.00030091   0.00045374   0.00014870
   0.01264682  -0.01204480   0.00030132   0.00030300  -0.00107251   0.00167286
  -0.01081000   0.00030111   0.00030111   0.00030111   0.00030111   0.00030111
   0.00028418   0.00047047   0.00014870  -0.00107063   0.00167474   0.00029923
   0.00030300   0.00028230   0.00031805   0.00045353   0.00014849   0.00030132
   0.00030111   0.00030111  -0.00108777   0.00169000   0.00030111   0.01280111
   0.00030091   0.00030320   0.00029923   0.00028418   0.01266375  -0.01204459

 Columns 7 through 9:

   0.00030300   0.00029902   0.00030132
   0.00169000   0.00030111   0.00030111
   0.00028418   0.00031993   0.00029923
   0.00045353   0.00013176   0.00031805
   0.00030111   0.00030111   0.01141223
   0.00030091   0.01264703  -0.01204459
   0.01264682  -0.01341633   0.00167286
  -0.01219889   0.00030111   0.00030111
  -0.00107063   0.00182527   0.00014870