# Series

In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj = Series([3,6,9,12])

In [3]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [37]:
ww2_cas = Series([8700000,4300000,3000000,2100000,40000], index=["USSR","Germany","China","Japan","USA"])

In [38]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA          40000
dtype: int64

In [39]:
ww2_cas["USA"]

40000

In [40]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [41]:
ww2_cas>4000000

USSR        True
Germany     True
China      False
Japan      False
USA        False
dtype: bool

In [42]:
"USSR" in ww2_cas

True

In [43]:
ww2_dict = ww2_cas.to_dict()

In [44]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 40000}

In [45]:
ww2_Series = Series(ww2_dict)

In [46]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA          40000
dtype: int64

In [47]:
countries = ["China","Germany","Japan","USA","USSR","Argentina"]

In [48]:
obj2 = Series(ww2_dict, index=countries)

In [49]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [50]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [51]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [52]:
ww2_Series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA          40000
dtype: int64

In [53]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [54]:
ww2_Series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA             80000.0
USSR         17400000.0
dtype: float64

In [55]:
obj2.name = "第二次世界大戦の死傷者"

In [56]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

In [57]:
obj2.index.name = "Countries"

In [58]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
Name: 第二次世界大戦の死傷者, dtype: float64

# DataFrame

In [59]:
import numpy as np

In [60]:
from pandas import DataFrame

In [61]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [65]:
nfl_frame = pd.read_clipboard()

In [66]:
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East

In [67]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [68]:
nfl_frame["First NFL Season"]

0    1960
1    1921
2    1920
3    1966
4    1960
Name: First NFL Season, dtype: int64

In [69]:
nfl_frame.Team

0             Dallas Cowboys
1          Green Bay Packers
2              Chicago Bears
3             Miami Dolphins
4    New England Patriots[b]
Name: Team, dtype: object

In [71]:
nfl_frame[["Team","First NFL Season"]]

                      Team  First NFL Season
0           Dallas Cowboys              1960
1        Green Bay Packers              1921
2            Chicago Bears              1920
3           Miami Dolphins              1966
4  New England Patriots[b]              1960

In [72]:
DataFrame(nfl_frame, columns=["Team","First NFL Season"])

                      Team  First NFL Season
0           Dallas Cowboys              1960
1        Green Bay Packers              1921
2            Chicago Bears              1920
3           Miami Dolphins              1966
4  New England Patriots[b]              1960

In [73]:
DataFrame(nfl_frame, columns=["Team","First NFL Season","Stadium"])

                      Team  First NFL Season  Stadium
0           Dallas Cowboys              1960      NaN
1        Green Bay Packers              1921      NaN
2            Chicago Bears              1920      NaN
3           Miami Dolphins              1966      NaN
4  New England Patriots[b]              1960      NaN

In [74]:
nfl_frame.head()

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East

In [75]:
nfl_frame.head(3)

   Rank               Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1     Dallas Cowboys    882  502   374     6  0.573              1960   NFC East
1     2  Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North
2     3      Chicago Bears  1,370  749   579    42  0.562              1920  NFC North

In [76]:
nfl_frame.tail()

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East

In [78]:
nfl_frame.ix[3]

/Users/takahiro/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                             4
Team                Miami Dolphins
GP                             800
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Division                  AFC East
Name: 3, dtype: object

In [79]:
nfl_frame["Stadium"] = "Levi's Stadium"

In [80]:
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division         Stadium
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East  Levi's Stadium
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North  Levi's Stadium
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North  Levi's Stadium
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East  Levi's Stadium
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East  Levi's Stadium

In [82]:
nfl_frame["Stadium"] = np.arange(5)

In [83]:
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division  Stadium
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East        0
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North        1
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North        2
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East        3
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East        4

In [84]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"], index=[4,0])

In [87]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [88]:
nfl_frame["Stadium"] = stadiums

In [89]:
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division         Stadium
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East    AT&T Stadium
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North             NaN
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North             NaN
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East             NaN
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East  Levi's Stadium

In [90]:
del nfl_frame["Stadium"]

In [91]:
nfl_frame

   Rank                     Team     GP  Won  Lost  Tied   Pct.  First NFL Season   Division
0     1           Dallas Cowboys    882  502   374     6  0.573              1960   NFC East
1     2        Green Bay Packers  1,336  737   562    37  0.565              1921  NFC North
2     3            Chicago Bears  1,370  749   579    42  0.562              1920  NFC North
3     4           Miami Dolphins    800  445   351     4  0.559              1966   AFC East
4     5  New England Patriots[b]    884  489   386     9  0.558              1960   AFC East

In [92]:
data = {"City":["SF","LA","NYC"], "Population":[837000,3880000,8400000]}

In [93]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [94]:
city_frame = DataFrame(data)

In [95]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

# index

In [96]:
my_ser = Series([1,2,3,4], index=["A","B","C","D"])

In [97]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [98]:
my_index = my_ser.index

In [99]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [100]:
my_index[0]

'A'

In [101]:
my_index[2]

'C'

In [102]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [103]:
my_index[0] = "Z"

TypeError: Index does not support mutable operations